
.centerForm{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.centerForm--input{
    width: 200px;
    background-color: #a3c4f0;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.listItem{
    list-style: none;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #a3c4f0;
}


.itemName b, .itemLanguage b{
    margin-right:8px ;
}

.itemLink{
    display: block;
    background-color: #20426e;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px;
    text-decoration: none;
}

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.avatar--img{
    border-radius: 50%;
    margin-left: 20px;
    border: 1px solid black;
    height: 180px;
    margin: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #20426e;
    color: #fff;
    padding-top: 10px;
    margin-bottom: 10px;
}
a{
    color: #fff;
    cursor: pointer;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {

.centerForm{
   display: flex;
    flex-direction: column;
}
.centerForm--input{
  margin: 0;
    width: 100%;

}

.list{
    grid-template-columns: 1fr;
margin: 0;
padding: 0;
    gap: 6px;
}

.listItem{

}


.itemName b, .itemLanguage b{

}

.itemLink{

}

.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.avatar--img{

}

.footer{

}
a{

}
}